body {

font-family: -apple-system, BlinkMacSystemFont, sans-serif;
margin:0;
background:#0f172a;
color:white;
text-align:center;
}

.container{
padding:20px;
}

h1{
font-size:28px;
margin-top:30px;
}

#term{
font-size:42px;
margin-top:120px;
padding:20px;
}

button{

width:80%;
max-width:300px;

padding:18px;
margin:10px;

font-size:18px;
border:none;
border-radius:12px;

}

.start{
background:#22c55e;
color:white;
}

.correct{
background:#16a34a;
color:white;
}

.pass{
background:#ef4444;
color:white;
}

.timer{
font-size:22px;
margin-top:40px;
}

.hidden{
display:none;
}